body {
    background-color: rgb(55, 124, 46);
    color: crimson;
}

b {
    font-size: larger;
}

#General {
    background-color: rgb(178, 204, 116);
    padding: 5px 4px 4px 10px;
    width: 200px;
    margin-bottom: 10px;
}

#Discription {
    background-color: rgb(178, 204, 116);
    padding: 5px 4px 4px 10px;
    width: 300px;
    margin-bottom: 10px;

}